@import 'https://fonts.googleapis.com/css?family=Croissant+One|Lato:300,300i,700|Share:700';
// font-family: 'Lato', sans-serif;
// font-family: 'Share', cursive;
// font-family: 'Croissant One', cursive;

$logo: 'Share', cursive;
$body-font: 'Lato', sans-serif;

// Colors
$mint: #5DDAB8;
$red: #A51C2D;
$dark-grey: #4c4c4c;
$light-grey: #737373;
$medium-grey: #868686;
$light-grey-bg: #F5F5F5;
// #808080, #7b7b7b, #868686


body {
  background: #FFF;
  font-family: $body-font;
  font-weight: 300;
  margin: auto;
}

#container {
  width: 100%;
  margin: auto;
}

// Header
header {
  text-align: center;

  .logo {
    margin: 0 20px 0 20px;
    padding: 20px 0 16px 0;
    border-bottom: 2px solid $medium-grey;
    font-family: $logo;
    font-size: 45px;
    color: $mint;
  }
  .fa-plus {
    position: absolute;
    top: 3.5%;
    left: 86%;
    color: $dark-grey;
    font-size: 35px;
    cursor: crosshair;
  }
  .logoTitle {
    margin: 15px 20px 0 20px;
    padding: 20px 0 16px 0;
    border-bottom: 2px solid $medium-grey;
    font-family: $body-font;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 2px;
    color: $mint;
  }
  .detailsLogoTitle {
    margin: 15px 20px 0 20px;
    padding: 20px 0 16px 0;
    border-bottom: 2px solid $medium-grey;
    font-family: $body-font;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 2px;
    color: $mint;
  }
  .fa-chevron-left {
    position: absolute;
    top: 5%;
    left: 6%;
    color: $dark-grey;
    font-size: 26px;
    cursor: crosshair;
  }
}

// Search bar
.box {
  padding-bottom: 50px; }
.container-1{
  width: 80%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  margin: auto;
  margin-top: 20px; }
.container-1 input.search{
  width: 80%;
  height: 50px;
  background: #FFF;
  border: 2px solid $light-grey-bg;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
.container-1 input.search::-webkit-input-placeholder {
   color: #65737e; }

.container-1 input.search:-moz-placeholder { /* Firefox 18- */
   color: #65737e; }

.container-1 input.search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e; }

.container-1 input.search:-ms-input-placeholder {
   color: #65737e; }
.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66; }
.container-1 input.search:hover, .container-1 input.search:focus, .container-1 input.search:active{
    outline:none; }
//http://webdesign.tutsplus.com/tutorials/css-experiments-with-a-search-form-input-and-button--cms-22069



// Appointments form
.appointmentForm {
  margin: 40px 30px 10px 30px;
  position: relative;
  display: block;
  text-align: center;
  .timeBlock {
    display: inline;
    width: 20%;
    height: 20%;
    padding: 20px;
    background: $mint;
    font-weight: 700;
    font-size: 20px;
    color: #FFF;
    text-align: center;
  }
  .titleBlock {
    display: inline-block;
    width: 50%;
    height: 20%;
    padding: 20px;
    background: $light-grey-bg;
    line-height: 25px;
    text-align: left;
    .title {
      font-weight: 700;
      font-size: 20px;
      color: $dark-grey;
    }
    .location {
      font-weight: 300;
      font-style: italic;
      font-size: 16px;
      color: $medium-grey;
    }
  }
}

// Appointments list
.appointmentList {
  margin: 40px 30px 10px 30px;
  position: relative;
  display: block;
  text-align: center;
  .timeBlock {
    display: inline;
    vertical-align: middle;
    width: 20%;
    height: 20%;
    padding: 20px;
    background: $mint;
    border: 2px solid $mint;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    color: #FFF;
    text-align: center;
  }
  .titleBlock {
    display: inline-block;
    width: 50%;
    height: 20%;
    margin-bottom: 5%;
    padding: 20px;
    background: $light-grey-bg;
    border: 2px solid $light-grey-bg;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    // border: 2px solid $light-grey-bg;
    // border-top-right-radius: 40px;
    // border-bottom-right-radius: 40px;
    line-height: 25px;
    text-align: left;
    .title {
      font-weight: 700;
      font-size: 20px;
      color: $dark-grey;
    }
    .location {
      font-weight: 300;
      font-style: italic;
      font-size: 16px;
      color: $medium-grey;
    }
  }
}

// Appointments details & map
.appointmentDetail {
  width: 80%;
  display: inline;
  margin: 20%;
  font-weight: 700;
  font-size: 30px;
  color: $dark-grey;
  text-align: center;
  h1 {
    padding: 40px;
  }
  .detailsTime {
    color: $mint;
  }
  .detailsLocation {
    font-weight: 300;
    font-style: italic;
    font-size: 25px;
    color: $medium-grey;
    .fa-map-marker {
      padding-left: 50%;
      color: $mint;
    }
  }
  img {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 5%;
  }
  .weather {
    // width: 75%;
    height: 10%;
    margin-left: 15%;
    margin-right: 15%;
    background: $light-grey-bg;
    font-weight: 300;
    font-size: 40px;
    color: $dark-grey;
  }
}

// Buttons
button {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 75px;
  background: $mint;
  border: none;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 2px;
  color: #FFF;
  text-align: center;
  outline: none;
}
  .saveNew {
    width: 100%;
  }
  .editButton {
    width: 100%;
  }
  .saveButton{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
  }
  .deleteButton {
    display: block;
    bottom: 0;
    left: 0;
    width: 50%;
    margin-left: 50%;
    background: $red;
  }

a {
  text-decoration: none;
  color: #fff;
}



.modal {
  display:none;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
  margin-top: 20%;
  padding-top: 30%;
  background: $mint;
  color: #fff;
  font-size: 40px;
  text-align: center;
  .stayOnPage {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    background: $light-grey;
    font-size: 30px;
  }
  .backToIndex {
    display: block;
    bottom: 0;
    left: 0;
    width: 50%;
    margin-left: 50%;
    background: $dark-grey;
    font-size: 30px;
  }
}

.detailsModal {
  display:none;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // margin-top: 20%;
  // padding-top: 30%;
  background: #fff;
  color: #fff;
}
